/prueba/nbproject/private/
/Napakalaki/nbproject/private/
/Napakalaki/build/
/Napakalaki/dist/
/P1/S1/Napakalaki/nbproject/private/
/P1/S1/Napakalaki/build/
/P1/S1/Napakalaki/dist/
/P1/S2/Napakalaki/nbproject/private/
/P1/S2/Napakalaki/build/